{% extends 'base.html' %}

{% block head %}
<title>{{article.title}} - Simple comic guides, with links to books.</title>

<meta name="description" content="{{article.description}}">
<meta name="keywords" content="start,comics,reading,order,trade,paperbacks,chronological,tpb,amazon,buy">

<link rel="canonical" href="{{article.canonical_url}}">

<meta property="og:type" content="article">
<meta property="og:title" content="{{article.title}}">
<meta property="og:url" content="{{article.canonical_url}}">
<meta property="og:description" content="{{article.description}}">

<meta property="fb:app_id" content="1204714829610198">

<meta property="article:published_time" content="{{ article.published_at|date:"c" }}">
<meta property="article:author" content="http://wheretostartreading.com/">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@startcomics">
<meta name="twitter:creator" content="@rkuykendall">
<meta name="twitter:title" content="{{article.title}}">
<meta name="twitter:description" content="{{article.description}}">

{% if article.image %}
  <meta content="{{article.image}}" property="og:image">
  <meta name="twitter:image" content="{{article.image}}">
{% endif %}
{% endblock %}

{% block content %}
<header>
  <div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-1">
    <div class="header">
      <a href="/"><img src="https://rkuykendall.github.io/wheretostartreading/logo.png" alt="Where to Start Reading" id="logo" /></a>
      <p>
        <a href="/">Where to Start Reading</a>
        &mdash; Simple comic guides, with links to books.
      </p>
    </div>
  </div>
  </div>
  </div>
</header>

<div class="page_article container">
<div class="row">
<div class="col-sm-12 col-md-10 col-md-offset-1">
  <p class="metainfo">Last updated {{ article.modified_at|date:"M d, Y" }}</p>
  <h1><a href="{% url 'article' slug=article.slug %}">{{ article.title }}</a></h1>
</div>
</div>
<div class="row">
<div class="col-sm-12 col-md-8 col-md-offset-1">
  {% if article.image %}
    <img class="article_image" src="{{ article.image }}" alt="{{ article.title }}" />
  {% endif %}

  {{ article.content_html|safe }}

  <div class="article-footer">
    <p>{{ article.credit|safe }}</p>
    <p><a
      class="twitter-follow-button"
      href="https://twitter.com/startcomics"
      data-size="large">Follow @StartComics</a></p>
  </div>
</div>
<div class="col-sm-12 visible-sm visible-xs" id="all-sidebar">
  <p><strong>All Articles
  {% for article in articles|dictsort:"title_short" %}
    <a href="{% url 'article' slug=article.slug %}">{{ article.title_short }}</a>,
  {% endfor %}
  </strong></p>
</div>
<div class="col-sm-12 col-md-3 visible-md visible-lg" id="all-sidebar">
  <h4>All Articles</h4>
  {% for article in articles|dictsort:"title_short" %}
    <p>
      <strong><a href="{% url 'article' slug=article.slug %}">{{ article.title_short }}</a></strong>
      <span class="metainfo">{{ article.modified_at|date:"M, Y" }}</span>
    </p>
  {% endfor %}
</div>
</div>
<div class="row visible-md visible-lg">
<div class="col-md-1"></div>
{% for related in article.related %}
  <div class="col-md-2">
    <a class="related_article" href="{% url 'article' slug=related.slug %}">
      <img src="{{ related.image }}" alt="{{ related.title }}" />
      {{ related.title_short }}
    </a>
  </div>
{% endfor %}
</div>
</div>

<div class="disqus_wrapper">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-8 col-md-offset-1">
  <div id="disqus_thread"></div>

  {% if article.disqus_src %}
    {{ article.disqus_src|safe }}
  {% else %}
    <script>
      var disqus_config = function () {
        this.page.url = "{{article.canonical_url}}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{article.slug}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//where-to-start-reading.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
  {% endif %}
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
</div>
</div>
</div>
{% endblock %}
