{% extends 'base.html' %}

{% block head %}
<meta content="{{article.canonical_url}}" property="og:url">

<meta content="article" property="og:type">
<meta content="{{article.title}}" property="og:title">
<meta content="{{article.canonical_url}}" property="og:url">

<meta content="{{ article.published_at|date:"c" }}" property="article:published_time">
<meta content="http://wheretostartreading.com/" property="article:author">
{% endblock %}



{% block content %}
<div class="body">
  <h1><a href="{% url 'article' slug=article.slug %}">{{ article.title }}</a></h1>
  <h2 class="subtitle">{{ article.published_at|date:"d M Y" }}</h2>
  <p>{{ article.content_html|safe }}</p>
</div>

<div class="disqus_wrapper">
  <div id="disqus_thread"></div>

  <script>
    var disqus_config = function () {
      this.page.url = "{{article.canonical_url}}";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "{{article.slug}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//where-to-start-reading.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<div class="disqus_wrapper">              
{% endblock %}
