{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<title>{{article.title}}</title>

<link rel="canonical" href="{{article.canonical_url}}">

<meta content="article" property="og:type">
<meta content="{{article.title}}" property="og:title">
<meta content="{{article.canonical_url}}" property="og:url">
<meta content="{{article.description}}" property="og:description">

<meta content="{{ article.published_at|date:"c" }}" property="article:published_time">
<meta content="http://wheretostartreading.com/" property="article:author">

{% if article.slug_image %}
  <meta content="http://wheretostartreading.com{% static article.slug_image %}" property="og:image">
{% endif %}
{% endblock %}

{% block content %}
<div class="body">
  <p class="metainfo">Last updated {{ article.modified_at|date:"M d, Y" }}</h2>
  <h1><a href="{% url 'article' slug=article.slug %}">{{ article.title }}</a></h1>
  <p>{{ article.content_html|safe }}</p>

  <p>&mdash; Written by Robert Kuykendall. Follow <a href="https://twitter.com/startcomics">@startcomics</a> for more.</p>
</div>

<div class="disqus_wrapper">
  <h2>If you have any questions I am happy to answer them! &mdash;Robert</h2>

  <div id="disqus_thread"></div>

  <script>
    var disqus_config = function () {
      this.page.url = "{{article.canonical_url}}";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "{{article.slug}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//where-to-start-reading.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<div class="disqus_wrapper">
{% endblock %}
