body {
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 17px;
  padding: 40px;
  margin: 0px auto;
  max-width: 680px;
  padding: 15px;
}

header {
  background-color: #0C1B2D;
  border-bottom: 1px solid #000;
}

.header {
  display: flex;
  align-items: center;
}

#logo {
  height: 50px;
  margin-right: 15px;
}

.metainfo {
  color: #ddd;
  margin-bottom: -20px;
}

header p,
header p a {
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
  color: #8B96A5;
}

header p a {
  color: #4DDD74;
}

h1, h2, h3 {
  font-weight: 400;
  font-family: 'Noto Serif', serif;
}

h1 a {
  color: black;
  text-decoration: none;
  font-size: 38px;
  margin-bottom: 15px;
  line-height: 1.3em;
  font-weight: normal;
  padding: 1px 0px;
}

h1 a:hover {
  color: #1b8ff8;
  text-decoration: none;
}

h2 {
  color: #6B757C;
  font-size: 28px;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

h2.subtitle {
  margin-top: 0px;
  margin-bottom: 2em;
}

a, a:link {
  color: #0090FF;
  text-decoration: none;
  border: none;
  }
  a:hover {
    text-decoration: underline;
}

li {
  margin-bottom: 0.5em;
}

.disqus_wrapper {
  padding: 30px;
  background-color: #EFF2F4;
  border-top: 2px solid #E5E8EA;
}

#disqus_thread, .disqus_wrapper h2 {
  margin: 30px auto;
  max-width: 980px;
}

.amazon-thumbnail img {
  height: 250px;
  border: 2px solid #1c222e;
}

img.slug-image {
  width: 500px;
  border: 2px solid #1c222e;
}
